/* ================================
   Base Styles 
=================================*/
body {
	font:normal 62.5% Helvetica,Arial,sans-serif;
	color:#6a6a6a;
	background-color:#fff;
}
h1 {
	padding:0 0 18px 0;
	font-size:6em;
	color:#2f3727;
}
h2 {
	padding:0 0 18px 0;
	font-size:2.4em;
	color:#32a510;
}
h3 {
	font-size:1.4em;
}
p {
	padding:0 0 26px 0;
	font-size:1.2em;
	line-height:1.3em;
}
a{
	text-decoration:none;
	color:#32a510;
}
a:hover{
	text-decoration:underline;
}
a img {
	border:none;
}
img{
	border:none;
}
blockquote{
	padding:24px 0 0 0;
	font-size:1.4em;
	font-style:italic;
}
cite{
	font-size:1.2em;
	font-weight:bold;
	font-style:normal;
	text-align:right;
}
ul { 
	margin:0;
	padding:0;
	list-style:none;  
}
ul li {
	float:left;
} 

/* ================================
   Header 
=================================*/
header {
	background:url("../images/header-bk.jpg") no-repeat scroll center top;
}
#top {
	padding:20px 0;
	opacity:0.6;
	filter: alpha(opacity = 50);
	background-color:#fff;
	zoom:1;
}
nav ul li a {
	font-size:1.5em;
	font-weight:bold;
}
nav ul li.selected a {
	padding:9px 21px;
	border:1px solid #5f8c21;
	border-radius:10px;
	color:#fff;
	background-color:#78c21b;
	background-image:url(images/fallback-gradient.png);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#AFE46E), to(#7AC31D), color-stop(.8,#8FD03E));
	background:-moz-linear-gradient(top, #AFE46E 0%, #8FD03E 80%, #7AC31D 100%);
}










