/* ================================
   Base Styles 
=================================*/
body {
	font:normal 62.5% Helvetica,Arial,sans-serif;
	color:#6a6a6a;
	background-color:#fff;
}
h1 {
	padding:0 0 18px 0;
	font-size:5em;
	color:#2f3727;
}
h2 {
	padding:0 0 18px 0;
	font-size:2.4em;
	color:#32a510;
}
h3 {
	padding:0 0 24px 0;
	font-size:1.4em;
	font-weight:normal;
}
p {
	padding:0 0 26px 0;
	font-size:1.2em;
	line-height:1.4em;
}
a{
	text-decoration:none;
	color:#32a510;
}
a:hover{
	text-decoration:underline;
}
a img {
	border:none;
}
img{
	border:none;
}
ul { 
	margin:0;
	padding:0;
	list-style:none;  
}
ul li {
	float:left;
	font-size:1.2em;
} 

/* ================================
   Header 
=================================*/
header {
	background:#89d85e url("../images/header-bk.jpg") no-repeat scroll center top;
}
#top {
	padding:20px 0;
	opacity:0.6;
	filter:alpha(opacity = 50);
	background-color:#fff;
	zoom:1;
}
header ul li a {
	display:block;
	padding:9px 15px;
	font-size:1.2em;
	font-weight:bold;
}
header ul li.selected a {
	padding:9px 19px;
	border:1px solid #5f8c21;
	border-radius:10px;
	color:#fff;
	background:#78c21b url("../images/navSelected-bk.gif") repeat-x 0 0;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#AFE46E), to(#7AC31D), color-stop(.8,#8FD03E));
	background:-moz-linear-gradient(top, #AFE46E 0%, #8FD03E 80%, #7AC31D 100%);	
}

/* ================================
   Slider
=================================*/
/* The Nivo Slider styles */
#slider {
	margin:0 auto;
    width:960px;
    height:427px; 
}
.nivoSlider {
	position:relative;
	background:transparent url("../images/loading.gif") no-repeat scroll 50% 50%;
    margin-bottom:50px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:68px;
	display:none;
}
.nivoSlider a {
	display:block;
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
.nivo-caption {
	position:absolute;
	left:72px;
	top:80px;
	color:#fff;
	width:480px;
	z-index:8;
}
.nivo-caption p {
	font-size:1.5em;
	font-weight:bold;
	color:#747d67; 
}
.nivo-caption h1,
.nivo-caption h2 { 
	font-size:3em;
	line-height:0.8em;
	color:#2f3727;
}
a.button {
	display:block;
	width:234px;
	padding:21px 0;
	border:1px solid #ff914f;
	border-radius:6px;
	color:#fff;
	background:#ff8200 url("../images/sliderButton-bk.gif") repeat-x 0 0;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbd1c), to(#ff9800), color-stop(.8,#ff8300));
	background:-moz-linear-gradient(top, #ffbd1c 0%, #ff9800 80%, #ff8300 100%);
	box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.4);
	font-size:1.6em;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	color:#8e2f00; 
}
.lt-ie9 .nivo-caption,
.lt-ie9 .nivo-caption p,
.lt-ie9 .nivo-caption h1,
.lt-ie9 .nivo-caption h2 {
	background:none !important; 
	filter:none !important;
}
.nivo-html-caption {
    display:none;
}
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:10px;
    margin-left:-40px;
	z-index:9999;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url("../images/sliderBullets.gif") no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -23px;
}
.nivo-directionNav a {
	display:block;
	width:51px;
	height:51px;
	background:url("../images/sliderArrows.png") no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-51px 0;
	right:0;
}
a.nivo-prevNav {
	left:0;
}

/* ================================
   Main 
=================================*/
#main {
	padding:40px 0;
}
#main h2 {
	padding:0;
}
.moreLink {
	padding:0 0 0 10px;
	background:transparent url("../images/arrowLink.gif") no-repeat scroll left center;
}

/* ================================
   Testimonials 
=================================*/
#testimonials {
	position:relative;
	padding:15px 0 22px 0;
    background:#d8d8d8 url("../images/testimonials-bk.gif") repeat-x scroll 0 0;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#d8d8d8));
    background-image:-webkit-linear-gradient(top, #ededed, #d8d8d8);
    background-image:-moz-linear-gradient(top, #ededed, #d8d8d8);
	box-shadow:0 4px 6px 0 #9e9e9e;
	z-index:10;
}
blockquote{
	padding:24px 48px 0 34px;
	font-size:1.4em;
	line-height:1.4em;
	font-style:italic;
	background:transparent url("../images/quoteOpen.png") no-repeat scroll 0 0;
}
cite{
	display:block;
	padding:26px 48px 0 0;
	font-size:1.2em;
	font-weight:bold;
	font-style:normal;
	text-align:right;
	background:transparent url("../images/quoteClose.png") no-repeat scroll right top;
}

/* ================================
   Footer 
=================================*/
footer {
	padding:30px 0;
	z-index:1;
	background:url("../images/footer-bk.jpg") no-repeat scroll center top;
}
footer ul {

}
footer ul li a {
	margin:0 6px 0 0;
	padding:0 6px 0 0;
	border-right:1px solid #1f7306;
	color:#4c4c4c
}
#socialMedia a {
	padding:0 4px;
	text-align:right;
}