/* ================================
   Base Styles 
=================================*/
body {
	font:normal 62.5% Helvetica,Arial,sans-serif;
	color:#6a6a6a;
	background-color:#fff;
}
h1 {
	padding:0 0 18px 0;
	font-size:6em;
	color:#2f3727;
}
h2 {
	padding:0 0 18px 0;
	font-size:2.4em;
	color:#32a510;
}
h3 {
	font-size:1.4em;
}
p {
	padding:0 0 26px 0;
	font-size:1.2em;
	line-height:1.3em;
}
a{
	text-decoration:none;
	color:#32a510;
}
a:hover{
	text-decoration:underline;
}
a img {
	border:none;
}
img{
	border:none;
}
blockquote{
	padding:24px 0 0 0;
	font-size:1.4em;
	font-style:italic;
}
cite{
	font-size:1.2em;
	font-weight:bold;
	font-style:normal;
	text-align:right;
}
ul { 
	margin:0;
	padding:0;
	list-style:none;  
}

/* ================================
   Header 
=================================*/
header {
	background:url("../images/header-bk.jpg") no-repeat scroll center top;
}
#top {
	opacity:0.6;
	background-color:#fff;
}



